  /* List Container */
  .Home {
    min-height: 80vh;
    margin: 0;
    padding: 0;
  }
  
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 80px;
  }
  
  /* Post Item Styling */
  .post {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .post h1 {
    font-size: 20px;
    color: #000; 
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .post p {
    margin: 10px 0;
    font-size: 14px;
    color: #000;
  }
  
  .post span {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    color: #7b00a8;
  }
  
  /* Hover Effects */
  .post:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }

  .post select {
    padding: 10px;
    border: 1px solid #7b00a8;
    border-radius: 6px;
    font-size: 16px;
    background-color: #7b00a844;
    color: #333;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  .post select:focus {
    outline: none;
    border: 1px solid #7b00a8;
  }

  .post button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    background-color: #7b00a8;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .time {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }

  .time p {
    font-size: 14px;
    color: #8f8f8f;
  }

  .time i {
    font-size: 1rem;
    color: #8f8f8f;
}