
.add-post-b {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    background-color: #49509E;
    border: none;
    border-radius: 100px;
    bottom: 90px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  .add-post {
    background: none;
    border: none;
    color: #ffffff;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
    z-index: 1004;
  }
  
  .modal {
    background: white;
    width: 50%;
    height: 70%;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translateY(100%);
    transition: bottom 0.3s ease-in-out;
    text-align: center;
  }
  
  .modal.slide-in {
    transform: translateY(10%);
  }
  
  @media (max-width: 768px) {
    .modal {
      width: 100%;
      height: 85%; 
      border-radius: 15px 15px 0 0;
    }
  }
  
  .close-button {
    position: absolute;
    top: 12px;
    right: 18px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
    transition: color 0.3s ease;
  }
  
  .modal form input,
  .modal form select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border 0.3s ease-in-out;
  }
  
  .modal form input:focus,
  .modal form select:focus {
    border-color: #49509E;
    outline: none;
  }
  
  /* File Upload */
  .modal form input[type="file"] {
    border: none;
    background: none;
  }
  
  .modal form button {
    width: 100%;
    background: #49509E;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin-top: 10px;
  }
  
  .modal form button:hover {
    background: #1a1f55;
  }
  
  .modal form button:disabled {
    background: #ccc;
    cursor: not-allowed;
  }
  
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 80px;
  }

  .list h1 {
    font-weight: bold;
    color: #49509E;
  }
  
  /* Post Item Styling */
  .post {
    border: 1px solid #EBEBEB;
    border-radius: 20px;
    padding: 20px;
    max-width: 440px;
    max-height: fit-content;
  }

  .post img {
    width: 100%;
    height: auto;
    max-height: 400px;
    max-width: 400px;
    min-width: 200px;
    min-height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;
  }
  
  .post h1 {
    font-size: 20px;
    color: #000; 
    font-weight: bold;
  }
  
  .post p {
    font-size: 14px;
    color: #000;
  }
  
  .post span {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #49509E;
  }
  
  /* Hover Effects */
  .post:hover {
    transform: translateY(-5px);
  }
  
  .time {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
  }

  .time p {
    font-size: 14px;
    color: #8f8f8f;
    min-width: 100px;
    text-align: end;
  }

  .edit-button {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
    transition: color 0.3s ease;
    gap: 10px;
  }
  
  .edit-button:hover {
    color: #49509E;
  }